<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta content="summary_large_image" name="twitter:card"/>
    <meta content="website" property="og:type"/>
    <meta content="" property="og:description"/>
    <meta content="https://4wg4rbuy7u.preview-postedstuff.com/V2-52Lz-fDcf-Lu3y-YBK6/" property="og:url"/>
    <meta content="https://pro-bee-beepro-thumbnail.getbee.io/messages/904606/888914/1809030/8972541_large.jpg"
          property="og:image"/>
    <meta content="" property="og:title"/>
    <meta content="" name="description"/>
    <meta charset="utf-8"/>
    <meta content="width=device-width" name="viewport"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"/>
    <style>
        .bee-row,
        .bee-row-content {
            position: relative
        }

        .bee-list ul {
            margin: 0;
            padding: 0
        }

        .bee-row-1,
        .bee-row-1 .bee-row-content,
        .bee-row-2,
        .bee-row-3,
        .bee-row-4,
        .bee-row-5,
        .bee-row-6 {
            background-color: #000;
            background-repeat: no-repeat
        }

        .bee-icon .bee-icon-label-top {
            text-align: center
        }

        body {
            background-color: transparent;
            color: #000;
            font-family: Poppins, Arial, Helvetica, sans-serif
        }

        .bee-row-3 .bee-col-1 .bee-block-1 a,
        a {
            color: #fff
        }

        * {
            box-sizing: border-box
        }

        body,
        h1,
        p {
            margin: 0
        }

        .bee-row-content {
            max-width: 565px;
            margin: 0 auto;
            display: flex
        }

        .bee-row-content .bee-col-w3 {
            flex-basis: 25%
        }

        .bee-row-content .bee-col-w5 {
            flex-basis: 42%
        }

        .bee-row-content .bee-col-w7 {
            flex-basis: 58%
        }

        .bee-row-content .bee-col-w9 {
            flex-basis: 75%
        }

        .bee-row-content .bee-col-w12 {
            flex-basis: 100%
        }

        .bee-icon .bee-icon-label-right a,
        .bee-icon .bee-icon-label-top a {
            text-decoration: none
        }

        .bee-divider,
        .bee-image {
            overflow: auto
        }

        .bee-divider .center,
        .bee-image .bee-center {
            margin: 0 auto
        }

        .bee-row-2 .bee-col-2 .bee-block-1,
        .bee-row-3 .bee-col-1 .bee-block-3 {
            width: 100%
        }

        .bee-icon {
            display: inline-block;
            vertical-align: middle
        }

        .bee-icon .bee-content {
            display: flex;
            align-items: center
        }

        .bee-image img {
            display: block;
            width: 100%
        }

        .bee-paragraph,
        .bee-text {
            overflow-wrap: anywhere
        }

        .bee-row-1 .bee-row-content {
            border-radius: 0;
            color: #000
        }

        .bee-row-1 .bee-col-1 {
            padding-top: 5px
        }

        .bee-row-1 .bee-col-1 .bee-block-1,
        .bee-row-2 .bee-col-1 .bee-block-1 {
            padding: 10px;
            text-align: center;
            width: 100%
        }

        .bee-row-1 .bee-col-2,
        .bee-row-2 .bee-col-2,
        .bee-row-4 .bee-col-1,
        .bee-row-5 .bee-col-1,
        .bee-row-6 .bee-col-1,
        .bee-row-7 .bee-col-1,
        .bee-row-8 .bee-col-1 {
            padding-bottom: 5px;
            padding-top: 5px
        }

        .bee-row-1 .bee-col-2 .bee-block-1 {
            color: #fff;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 14px;
            font-weight: 400;
            text-align: right
        }

        .bee-row-2 .bee-row-content {
            background-color: #fff;
            background-repeat: no-repeat;
            border-radius: 0;
            color: #000
        }

        .bee-row-3 .bee-row-content {
            background-color: #fff;
            background-repeat: no-repeat;
            color: #000
        }

        .bee-row-5 .bee-row-content,
        .bee-row-6 .bee-row-content {
            background-color: #f6f6f6;
            background-repeat: no-repeat;
            color: #000
        }

        .bee-row-4 .bee-row-content,
        .bee-row-7 .bee-row-content {
            background-repeat: no-repeat;
            border-radius: 0;
            color: #000
        }

        .bee-row-4 .bee-col-1 .bee-block-1,
        .bee-row-5 .bee-col-1 .bee-block-2 {
            padding: 10px
        }

        .bee-row-5 .bee-row-content {
            border-radius: 0
        }

        .bee-row-7 {
            background-color: #fff;
            background-repeat: no-repeat
        }

        .bee-row-7 .bee-col-1 .bee-block-1 {
            text-align: center;
            width: 100%
        }

        .bee-row-8 {
            background-repeat: no-repeat
        }

        .bee-row-8 .bee-row-content {
            background-repeat: no-repeat;
            color: #000
        }

        .bee-row-8 .bee-col-1 .bee-block-1 {
            color: #9d9d9d;
            font-family: inherit;
            font-size: 15px;
            padding-bottom: 5px;
            padding-top: 5px;
            text-align: center
        }

        .bee-row-3 .bee-col-1 .bee-block-1,
        .bee-row-5 .bee-col-1 .bee-block-2 {
            direction: ltr;
            font-family: Montserrat, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
            font-weight: 400;
            letter-spacing: 0
        }

        .bee-row-1 .bee-col-2 .bee-block-1 .bee-icon-image {
            padding: 0
        }

        .bee-row-1 .bee-col-2 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
        .bee-row-8 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content {
            margin-left: 0
        }

        .bee-row-1 .bee-col-2 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
            margin-right: 0
        }

        .bee-row-8 .bee-col-1 .bee-block-1 .bee-icon-image {
            padding: 5px 6px 5px 5px
        }

        .bee-row-8 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
            margin-right: 0
        }

        .bee-row-3 .bee-col-1 .bee-block-1 {
            color: #f6f6f6;
            font-size: 20px;
            line-height: 120%;
            text-align: center
        }

        .bee-row-3 .bee-col-1 .bee-block-1 p:not(:last-child) {
            margin-bottom: 16px
        }

        .bee-row-5 .bee-col-1 .bee-block-2 {
            color: #101112;
            font-size: 12px;
            line-height: 150%;
            text-align: left
        }

        .bee-row-5 .bee-col-1 .bee-block-2 ul {
            list-style-type: revert;
            list-style-position: inside
        }

        .bee-row-5 .bee-col-1 .bee-block-2 li:not(:last-child) {
            margin-bottom: 0
        }

        .bee-row-5 .bee-col-1 .bee-block-2 li ul {
            margin-top: 0
        }

        .bee-row-5 .bee-col-1 .bee-block-2 li a {
            color: #8a3c90
        }

        .bee-row-5 .bee-col-1 .bee-block-2 li li {
            margin-left: 30px
        }

        @media (max-width: 585px) {
            .bee-row-content:not(.no_stack) {
                display: block
            }

            .bee-row-1 .bee-col-1 {
                padding: 0 !important
            }

            .bee-row-6 .bee-col-1 {
                padding: 5px 0 !important
            }

            .bee-row-1 .bee-col-2 .bee-block-1 .bee-icon-label {
                font-size: 14px !important;
                text-align: center
            }

            .bee-row-2 .bee-col-1 .bee-block-1 h1 {
                font-size: 14px !important
            }

            .bee-row-1 .bee-col-1 .bee-block-1 {
                text-align: center !important
            }

            .bee-row-1 .bee-col-1 .bee-block-1 h1 {
                font-size: 15px !important;
                text-align: center !important
            }

            .bee-row-3 .bee-col-1 .bee-block-1 {
                padding: 5px !important;
                font-size: 16px !important
            }

            .bee-row-5 .bee-col-1 .bee-block-2 ul {
                font-size: 14px !important;
                line-height: auto !important
            }
        }
    </style>
</head>
<body>
<div class="bee-page-container">
    <div class="bee-row bee-row-1">
        <div class="bee-row-content no_stack">
            <div class="bee-col bee-col-1 bee-col-w7">
                <div class="bee-block bee-block-1 bee-heading">
                    <h1 style="color:#4a3499;direction:ltr;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size:20px;font-weight:700;letter-spacing:normal;line-height:150%;text-align:left;margin-top:0;margin-bottom:0;">
                        <span style="color: #ffffff;">BOOKING STATUS TRACKER</span><br/></h1>
                </div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w5">
                <div class="bee-block bee-block-1 bee-icons">
                    <div class="bee-icon bee-icon-last">
                        <div class="bee-icon-label bee-icon-label-top">Menu</div>
                        <div class="bee-icon-image">
                            <a href="<%= asset.publicUrl %>?no-redirect=true">
                                <img alt="Menu" height="64px" src="<%= imagesBaseUrl %>/main-menu_1.png" width="auto"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bee-row bee-row-2">
        <div class="bee-row-content no_stack">
            <div class="bee-col bee-col-1 bee-col-w9">
                <div class="bee-block bee-block-1 bee-heading">
                    <h1 style="color:#000000;direction:ltr;font-family:Poppins, Arial, Helvetica, sans-serif;font-size:18px;font-weight:400;letter-spacing:normal;line-height:150%;text-align:center;margin-top:0;margin-bottom:0;">
                        <strong>WELCOME TO THE WORLD OF </strong></h1>
                </div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w3">
                <div class="bee-block bee-block-1 bee-image"><img alt="" class="bee-fixedwidth"
                                                                  src="<%= imagesBaseUrl %>/awasome.png"
                                                                  style="max-width:92px;"/></div>
            </div>
        </div>
    </div>
    <div class="bee-row bee-row-3">
        <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
                <div class="bee-block bee-block-1 bee-paragraph">
                    <p>
                        <span style="color: #000000;"><strong>Hello  </strong><strong><%= customer.title %> <%= customer.firstName %></strong></span>
                    </p>
                </div>
                <div class="bee-block bee-block-2 bee-divider">
                    <div class="center bee-separator" style="border-top:4px solid #F70A0A;width:100%;"></div>
                </div>
                <div class="bee-block bee-block-3 bee-image"><img alt="Image" class="bee-center bee-fixedwidth"
                                                                  src="<%= sku.primaryImage %>"
                                                                  style="max-width:339px;"/></div>
                <div class="bee-block bee-block-4 bee-divider">
                    <div class="center bee-separator" style="border-top:4px solid #F70A0A;width:100%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bee-row bee-row-4">
        <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
                <div class="bee-block bee-block-1 bee-text">
                    <div class="bee-text-content"
                         style="font-size: 14px; line-height: 120%; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; color: #000000;">
                        <p style="font-size: 14px; line-height: 16px; text-align: left;"><span
                                    style="color: #ffffff; line-height: 16px; font-size: 14px;"><span
                                        style="line-height: 14px;"><span
                                            style="line-height: 14px;">Booking ID : <%= asset.serialNumber %>  | Booked On : <%= bookingDate %></span></span></span>
                        </p>
                        <p style="font-size: 14px; line-height: 16px; text-align: left;"> </p>
                        <p style="font-size: 14px; line-height: 16px; text-align: left;"><span
                                    style="color: #ffffff; line-height: 16px; font-size: 14px;"><span
                                        style="line-height: 14px;"><span
                                            style="line-height: 14px;">Vehicle : <%= sku.name %></span></span></span>
                        </p>
                        <p style="font-size: 14px; line-height: 16px; text-align: left;"><span
                                    style="color: #ffffff; line-height: 16px; font-size: 14px;"><span
                                        style="line-height: 14px;"><span
                                            style="line-height: 14px;"> </span></span></span></p>
                        <p style="font-size: 14px; line-height: 16px; text-align: left;"><span
                                    style="color: #ffffff; line-height: 16px; font-size: 14px;"><span
                                        style="line-height: 14px;"><span style="line-height: 14px;"><span
                                                style="line-height: 14px;">Dealership : <%= orgUnit.name %></span></span></span></span>
                        </p>
                        <p style="font-size: 14px; line-height: 16px; text-align: left;"> </p>
                        <p style="font-size: 14px; line-height: 16px; text-align: left;"><span
                                    style="color: #ffffff; line-height: 16px; font-size: 14px;"><span
                                        style="line-height: 14px;"><span style="line-height: 14px;">Tentative Delivery Quoted : <%= asset.custom?.tentativeDeliveryQuoted %></span></span></span>
                        </p>
                        <p style="font-size: 14px; line-height: 16px; text-align: left;"> </p>
                        <p style="line-height: 16px; font-size: 14px;"><span
                                    style="color: #ffffff; line-height: 16px; font-size: 14px;">Quoted  Waiting  Period :
                                <%=asset.custom?.minWaitingPeriodInWeeksQuoted%> -
                                <%=asset.custom?.maxWaitingPeriodInWeeksQuoted%> Weeks  </span>
                        </p>
                        <p style="font-size: 14px; line-height: 16px; text-align: left;"> </p>
                        <p style="font-size: 14px; line-height: 16px; text-align: left;"><strong style=""><span
                                        style="font-size: 14px; color: #000000; line-height: 16px; background-color: #ffc200;"><span
                                            style="line-height: 14px;">Waiting Period Left as of <%=today%>  :
                                        <%=waitingPeriod %> </span></span></strong>
                        </p>
                        <p style="font-size: 14px; line-height: 16px; text-align: left;"> </p>
                        <p style="font-size: 14px; line-height: 16px; text-align: left;">
                            <strong style="">

			<span style="background-color: #ffc200; color: #000000; line-height: 14px;">
				<span style="font-size: 14px; line-height: 16px; background-color: #ffc200;"><span
                            style="line-height: 14px;">Initial Booking Sequence No :  <%= asset.custom?.initialBookingSequenceNumber %> </span>
					<% if (asset.custom?.currentBookingSequenceNumber) {%>
                    <span>
                        <span style="line-height: 14px;">	| Current </span>
                    </span>
                    <span style="font-size: 14px; line-height: 16px; background-color: #ffc200;">
                        <span style="line-height: 14px;">Booking Sequence No  : <%= asset.custom?.currentBookingSequenceNumber %></span>
                    </span>
                    <%}%>
                </span>
            </span>
                            </strong>
                        </p>
                        <p style="font-size: 14px; line-height: 16px; text-align: left;"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="bee-row bee-row-5">-->
    <!--<div class="bee-row-content">-->
    <!--<div class="bee-col bee-col-1 bee-col-w12">-->
    <!--<div class="bee-block bee-block-1 bee-divider">-->
    <!--<div class="center bee-separator" style="border-top:4px solid #F70A0A;width:100%;"></div>-->
    <!--</div>-->
    <!--<div class="bee-block bee-block-2 bee-list">-->
    <!--<ul>-->
    <!--<li>Message Date     - " Message Title " </li>-->
    <!--<li>Message Date     - " Message Title " </li>-->
    <!--<li>Message Date     - " Message Title " </li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="bee-row bee-row-6">-->
    <!--<div class="bee-row-content">-->
    <!--<div class="bee-col bee-col-1 bee-col-w12">-->
    <!--<div class="bee-block bee-block-1 bee-divider">-->
    <!--<div class="center bee-separator" style="border-top:4px solid #F70A0A;width:100%;"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="bee-row bee-row-7">
        <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
                <div class="bee-block bee-block-1 bee-heading">
                    <h1 style="color:#ffffff;direction:ltr;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;font-size:12px;font-weight:400;letter-spacing:normal;line-height:180%;text-align:left;margin-top:0;margin-bottom:0;">
                        <span style="color: #000000;">Waiting period and tentative delivery time mentioned here is indicative and for informational purposes only and is not to be construed or relied upon as a commitment or assurance  whatsoever.</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="bee-row bee-row-8">
        <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
                <div class="bee-block bee-block-1 bee-icons" id="beepro-locked-footer">
                    <div class="bee-icon bee-icon-last">
                        <div class="bee-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>